/DESKTOP/FootballStatisticCollector/nbproject/private/
/DESKTOP/FootballStatisticCollector/build/
/DESKTOP/FootballStatisticCollector/dist/
/DESKTOP/FootbalStatisticCollector/nbproject/private/
/DESKTOP/FootbalStatisticCollector/dist/
/DESKTOP/FootbalStatisticCollector/build/